
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*-------------------------------------------------FORMULARIO-----------------------------------------------*/
.form-register{
    width: 400px;
    background: #C9E265;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'CURSIVE';
    color: black;
    box-shadow: 7px 13px 37px #ff9900;
}

.form-register h1{
    font-size: 30px;
    margin-bottom: 24px;
    text-align: center;
    color: #ff9900;

}

.controls{
    width: 100%;
    background:white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ff9900;
    font-family: 'calibri';
    font-size: 18px;
    color: #ff9900;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #ff9900;

}

.form-register p a{
    text-decoration: none;
    color: #ff9900;
}

.form-register a:hover{
    color: #ff9900;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: #ff9900;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    
}

/*-------------------------------------Botones sing-in y sing-up------------------------------------------------*/

.sing-in{
    font-family: 'oswald';
    font-size: 25px;
    background-color: #C9E265;
    border-radius: 10px;
    height: 50px;
    margin-right: 80px;
    border: none;
    margin-top: 15px;
    
}


.Sing-up{
    color: black;
    font-family: 'oswald';
    font-size: 25px;
    background-color: #C9E265;
    border-radius: 10px;
    height: 50px;
    border: none;
    
    
}

.sing-in a{
    color:#ff9900;
    text-decoration: none;
    padding: 10px;
    
}

.Sing-up a{
    color: #ff9900;
    text-decoration: none;
    padding: 10px;
    
}

.Imagen{
    margin-left: 380px;
    margin-top: 100px;
    
}

.boton1_2{
    margin-left: 510px;
}





